<div class="margin-bot">

<h4>Hi, <span class="label label-default">{{user}}</span> 
	<button class="logout btn btn-default">Logout</button>
</h4>
	
</div>


<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group homepage" role="group">
    <button type="button" class="btn btn-primary"> Your Page</button>
  </div>
  <div class="btn-group followees" role="group">
    <button type="button" class="btn btn-primary"> People you follow </button>
  </div>
  <div class="btn-group all" role="group">
    <button type="button" class="btn btn-primary"> All users</button>
  </div>
</div>



