<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    {{{_sections.head}}}
</head>
<body>
	<div class="title"> Fritter </div>
    {{{body}}}
</body>
</html>

