{{#section 'head'}}
    <script src="/javascripts/tweets.js"></script>
    <script src="/javascripts/users.js"></script>
{{/section}}

{{> head}}

<div class="margin-top"></div>



<div class="tweets">
	<h3>Your tweets</h3>

	<div class="input-group margin-bot">
	  <input type="text" class="form-control message" placeholder="Add a new tweet..." required>
	  <span class="input-group-btn">
	    <button class="btn btn-default post" type="button">Post</button>
	  </span>
	</div>

	<div class="alert alert-danger hidden margin-top" role="alert" ></div>

	<div class="your-tweets">
		{{#each userTweets}}
			{{>tweet tweet=this yours=true}}
		{{/each}}
	</div>
</div>
