{{#section 'head'}}
    <script src="/javascripts/tweets.js"></script>
    <script src="/javascripts/users.js"></script>
{{/section}}

{{> head}}

<div class="add section">Add a new tweet</div>
<form class="tweet-form">
	<div class="msg"> <textarea class="message" required></textarea></div>
	<button  class="post" type="submit"> Post </button>
</form>

<div class="tweets">
	<div class="yours section">Your tweets</div>
	<div class="your-tweets">
		{{#each userTweets}}
			<div class="your-tweet" data-id={{id}}>
				<div class="your-text" > {{text}}</div> 
				<button class="delete"> Delete </button>
			</div>
		{{/each}}
	</div>
</div>
