<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/lib/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/lib/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css"> 
</head>
<body>

<div class="ui container">

	<h4 style="margin-top: 30px" > Choose product </h4>

	
	  <div class="ui input">
	    <input type="text" id="id" placeholder="Product ID...">
	  </div> 

	  <button class="ui button submit-id" type="submit">Submit</button>
	
</div>

</body>
</html>