{{#section 'head'}}
    <script src="/javascripts/users.js"></script>
{{/section}}
<form class="login-form">
	<div class="username">Username: <input type="text" name="username" required /></div>
	<button type="submit"> Login </button>
</form>