{{#section 'head'}}
    <script src="/javascripts/tweets.js"></script>
    <script src="/javascripts/users.js"></script>
{{/section}}

{{> head}}

<div class="margin-top"></div>

<div class="tweets " data-username="{{user_page}}">
	<h4>{{user_page}}'s tweets 
		{{#if following}}
			<span class="label label-info">Following</span>
		{{else}}
			<button class="follow btn btn-default">Follow</button> 
		{{/if}}

	</h4>
	{{#each userTweets}}
		{{>tweet tweet=this yours=false}}
	{{/each}}
</div>

