{{#section 'head'}}
    <script src="/javascripts/tweets.js"></script>
    <script src="/javascripts/users.js"></script>
{{/section}}

{{> head}}

<div class="tweets">
	<div class="all section">All tweets</div>
	{{#each tweets}}
		<div class="all-tweet" data-id={{id}}> <span class="author"> {{author}}</span>: {{text}}</div>
	{{/each}}
</div>

